.header {
  width: 100%;
  height: 5rem;
  padding: 0 10%;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  z-index: 2;
  color: #c3073f;
  box-shadow: 1px 1px 1px 1px #eee;
}

.header ul {
  list-style: none;
}
.header a {
  color: #c3073f;
  font-weight: bold;
  cursor: pointer;
}
.nav_item {
  margin-right: 30px;
  display: inline-block;
}
.navigation {
  display: inline-block;
  position: absolute;
  left: 250px;
}
.nav_right {
  position: absolute;
  right: 125px;
}
/* Animation */

.hover_underline_animation {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #c3073f;
}

.hover_underline_animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.7px;
  bottom: 0;
  left: 0;
  color: #c3073f;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover_underline_animation:hover:after {
  transform: scaleX(1);

  transform-origin: bottom left;
}
